<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h1 class="pull-left">
            Lista de Ventas
        </h1>
        <div class="filter-block pull-right">
            <div class="form-group pull-left">
                <input type="text"
                       class="form-control"
                       ng-model="searchText"
                       placeholder="{{'searchPlaceholder' | translate}}">
                <i class="fa fa-search search-icon"></i>
            </div>
        </div>
    </header>
    <div class="main-box-body clearfix">
        <div class="table-responsive">
            <table id="table-account-management" class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>FECHA/HORA</th>
                    <th>CLIENTE</th>
                    <th>ESTADO</th>
                    <th>TOTAL</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody ng-repeat="sale in sales | filter:searchText">
                <tr>
                    <td>{{sale.id}}</td>
                    <td>{{sale.date | date:'dd/mm/yyyy HH:MM'}}</td>
                    <td>{{sale.customer.fullName}}</td>
                    <td>{{sale.status==='PAID'?'PAGADO':'ANULADO'}}</td>
                    <td>{{sale.total | currency:"Bs."}}</td>
                    <td>
                        <a data-toggle="modal"
                           name="edit-account"
                           title="Ver Detalle"
                           data-target="#editAccount"
                           data-ng-click="editSale(sale.id)"
                           ng-show="sale.status==='PAID'"
                           class="table-link">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a data-toggle="modal"
                           title="Ver Detalle"
                           data-ng-click="showSale(sale.id)"
                           class="table-link green">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a data-toggle="modal"
                           title="Anular Venta"
                           data-target="#cancelSaleModal"
                           data-ng-click="selectItem(sale)"
                           ng-show="sale.status==='PAID'"
                           class="table-link danger">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-ban fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'app/sale/modal/sale-modal.html'"></div>