<!-- Modal Change Password -->
<div class="modal fade"
     data-backdrop="static"
     data-keyboard="false"
     id="modalChangePassword"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{'userManagement.user.changePassword' | translate }}</h4>
            </div>
            <form role="form" name="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="password"><b>{{'userManagement.user.password' | translate }}:</b></label>
                        <input type="password"
                               class="form-control"
                               id="password"
                               ng-model="user.password"
                               name="passwordOld"
                               data-ng-minlength="5"
                               required/>
                    </div>
                    <div class="form-group">
                        <label for="newPassword"><b>{{'userManagement.user.passwordNew' | translate }}:</b></label>
                        <input type="password"
                               class="form-control"
                               id="newPassword"
                               ng-model="user.passwordNew"
                               name="password"
                               data-ng-minlength="5"
                               required/>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirm">
                            <b>{{'userManagement.user.passwordConfirm' | translate}}:</b>
                        </label>
                        <input type="password"
                               class="form-control"
                               id="passwordConfirm"
                               name="passwordConfirm"
                               ng-model="user.passwordConfirm"
                               data-ng-minlength="5"
                               required>
                        <div class="has-warning">
                            <p class="help-block"
                               ng-show="form.passwordConfirm.$dirty && !arePasswordsEquals(form)">
                                {{'validator.confirm.password'| translate }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-warning"
                         ng-show="currentUser.companyTest">
                        <i class="fa fa-warning fa-fw fa-lg"></i>
                        <strong>{{'lbl.warning'| translate }}</strong>
                        {{'lbl.user.test.changePasswordNotAllowed'| translate }}
                    </div>
                    <button type="button"
                            class="btn-sm btn btn-default"
                            data-dismiss="modal">
                        {{'lbl.close' | translate }}
                    </button>
                    <button type="button"
                            class="btn-sm btn btn-success"
                            data-dismiss="modal"
                            data-ng-disabled="isBtnChangePasswordActive(form)"
                            data-ng-click="changePasswordUser(user)">
                        {{'lbl.save' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.modal change password-->