<!-- Modal - what is tracker id -->
<div class="modal fade"
     data-backdrop="static"
     data-keyboard="false"
     id="modalReset"
     tabindex="-1" role="dialog"
     aria-labelledby="modalReset"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{'reset.system'|translate}}</h4>
            </div>
            <div class="modal-body">
                <blockquote>
                    <p>{{'reset.message.body'|translate}}</p>
                </blockquote>
            </div>
            <div class="modal-footer">
                <button title="{{'cancel' | translate}}"
                        class="btn-sm btn btn-default"
                        data-dismiss="modal">
                    {{'cancel' | translate}}
                </button>
                <button title="{{'reset' | translate}}"
                        class="btn-sm btn btn-danger"
                        data-ng-click="reset()"
                        data-dismiss="modal">
                    {{'reset' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>