<nav class="navbar navbar-default navbar-static-top" id="header-navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">

                <span class="fa fa-bars"></span>
            </button>
            <a href="/" id="logo" class="navbar-brand">
                <!--TODO: Set RAMIREZ SHOES Logo svg-->
                <img src="#" alt="" class="normal-logo logo-white"/>
            </a>
        </div>

        <!-- Collect the nav links -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-pills nav-stacked">
                <!--Create Sales Menu-->
                <li ng-class="getClass('/add-sale')"
                    ng-if="hasRole('add-sale')">
                    <a href="#/add-sale"><i class="fa fa-plus"></i>
                        Nueva Venta
                    </a>
                </li>
                <!-- Sale List Menu -->
                <li ng-class="getClass('/sale-management')"
                    ng-if="hasRole('sale-management')">
                    <a href="#/sale-management"><i class="fa fa-paper-plane"></i>
                        Ventas
                    </a>
                </li>
                <!-- Shoes List Menu -->
                <li ng-class="getClass('/shoe-management')"
                    ng-if="hasRole('shoe-management')">
                    <a href="#/shoe-management"><i class="fa fa-archive"></i>
                        Zapatillas
                    </a>
                </li>
                <!-- Customer list menu -->
                <li ng-class="getClass('/customer-management')"
                    ng-if="hasRole('customer-management')">
                    <a href="#/customer-management"><i class="fa fa-users"></i>
                        Clientes
                    </a>
                </li>
                <!-- Configuration Menu:  Sub: container & Shoe sizes-->
                <li ng-class="getClass('/configurations')" ng-if="hasRole('configurations')">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cogs"></i> Preferencias <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-class="getClass('/shoe-size-config')"
                            ng-if="hasRole('shoe-size-config')">
                            <a href="#/shoe-size-config"><i class="fa fa-arrows-alt"></i>
                                Tallas
                            </a>
                        </li>
                        <li ng-class="getClass('/container-config')"
                            ng-if="hasRole('container-config')">
                            <a href="#/container-config"><i class="fa fa-archive"></i>
                                Contenedores
                            </a>
                        </li>
                        <li class="item">
                            <a data-toggle="modal" data-target="#modalReset">
                                <i class="fa fa-undo"></i>
                                Reset
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!--RIGHT SIDE OF NAV BAR-->
            <ul class="nav navbar-nav navbar-right nav-pills nav-stacked">
                <li ng-class="getClass('/device-management') || getClass('/account-management')"
                    ng-if="hasRole('device-management') || hasRole('account-management') || hasRole('subscription')">

                <li class="item" ng-class="getClass('/devices-status')" ng-if="hasRole('devices-status')">
                    <a href="#/devices-status">
                        <i class="fa fa-dot-circle-o"></i>
                        {{ 'devices.status' | translate }}
                    </a>
                </li>
                <li class="item" ng-if="hasRole('transactions')">
                    <a href="#/transactions">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        {{ 'lbl.transactions' | translate }}
                    </a>
                </li>
                <li class="item" ng-if="hasRole('subscription')"
                    ng-class="getClass('/subscription')">
                    <a href="#/subscription">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        {{ 'subscription.label.title' | translate }}
                    </a>
                </li>
                <li class="item" ng-if="hasRole('account-management')"
                    ng-class="getClass('/account-management')">
                    <a href="#/account-management">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        {{ 'accountManagement.title' | translate }}
                    </a>
                </li>
                <li class="item" ng-if="hasRole('device-management')"
                    ng-class="getClass('/device-management')">
                    <a href="#/device-management">
                        <i class="fa fa-tablet"></i>
                        {{ 'deviceManagement.title' | translate }}
                    </a>
                </li>

                <li ng-class="getClass('/device-management') || getClass('/company-management')"
                    ng-if="hasRole('device-management') || hasRole('company-management') || hasRole('subscription')">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-star"></i>
                        {{ 'administration' | translate }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                    </ul>
                </li>
                <!-- Profile menu-->
                <li class="dropdown profile-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span><i class="fa fa-user"></i> {{currentUser.name}}</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="item">
                            <a data-toggle="modal"
                               data-target="#modalChangePassword">
                                <i class="fa fa-key"></i>
                                Cambiar Contraseña
                            </a>
                        </li>
                        <li class="item">
                            <a data-ng-click="logout()">
                                <i class="fa fa-power-off"></i>
                                Salir
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ng-include="'common/dialogs/change-password-dialog.html'"></div>
<div ng-include="'common/dialogs/modal_reset_data.html'"></div>