<!-- Modal Add & Edit Size -->
<div class="modal fade"
     data-backdrop="static"
     data-keyboard="false"
     id="containerModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="containerModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{container.id?'Editar Contenedor':'Crear Contenedor'}}</h4>
            </div>
            <form role="form" name="form">
                <div class="row">
                    <div class="modal-body">

                        <div class="col-lg-6 form-group">
                            <label for="container-code"><b>Código</b></label>
                            <input type="text"
                                   class="form-control"
                                   id="container-code"
                                   ng-model="container.code"
                                   name="size-range"
                                   required>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label for="isVisible"><b>Es Visible</b></label>
                            <br>
                            <input id="isVisible"
                                   type="checkbox"
                                   ng-model="container.isVisible"
                                   data-toggle="toggle">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn-sm btn btn-default"
                            data-ng-click="cancelContainerModal()"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button"
                            class="btn-sm btn btn-success"
                            data-dismiss="modal"
                            ng-hide="container.id"
                            data-ng-click="addContainer()">
                        Guardar
                    </button>
                    <button type="button"
                            class="btn-sm btn btn-success"
                            data-dismiss="modal"
                            ng-show="container.id"
                            data-ng-click="updateContainer()">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Cancel Sale -->
<div class="modal fade"
     data-backdrop="static"
     data-keyboard="false"
     id="cancelContainerModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="cancelContainerModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Anular Contenedor</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <span>Esta seguro que quiere anular el Contenedor <strong>{{container.code}}</strong> ?</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button title="Cancelar"
                        class="btn-sm btn btn-default"
                        data-ng-click="cancelContainerModal()"
                        data-dismiss="modal">
                    Cancelar
                </button>
                <button title="Eliminar"
                        data-dismiss="modal"
                        data-ng-click="deleteContainer()"
                        class="btn-sm btn btn-danger">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>