<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h1 class="pull-left">
            Lista de Contenedores
        </h1>
        <div class="filter-block pull-right">
            <a data-toggle="modal"
               title="{{'account.management.new.account.title' | translate}}"
               data-target="#containerModal"
               ng-click="prepareNewAccount()"
               class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i>
                Nuevo
            </a>
        </div>
    </header>
    <div class="main-box-body">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-xs-1">Id</th>
                    <th class="col-xs-1">Nombre</th>
                    <th class="col-xs-1">Habilitado</th>
                    <th class="col-xs-1">Estado</th>
                    <th class="col-xs-1">Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="container in containers">
                    <td>{{container.id}}</td>
                    <td>{{container.code}}</td>
                    <td>{{container.isVisible?'Si':'No'}}</td>
                    <td>{{container.status}}</td>
                    <td>
                        <a data-toggle="modal"
                           title="Editar"
                           data-target="#containerModal"
                           data-ng-click="selectContainer(container)"
                           ng-hide="container.status == 'DELETED'"
                           class="table-link warning">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a data-toggle="modal"
                           title="Eliminar"
                           data-target="#cancelContainerModal"
                           data-ng-click="selectContainer(container)"
                           ng-hide="container.status == 'DELETED'"
                           class="table-link danger">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-ban fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'app/container/modal/container-modal.html'"></div>