<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h1 class="pull-left">
            Lista de Zapatillas
        </h1>
        <div class="filter-block pull-right">
            <a title="Importar"
               data-ng-click="importExcelShoe()"
               class="btn btn-primary pull-right">
                Importar
            </a>
            <input type="file"
                   id="excelFile"
                   name="excelFile"
                   class="pull-right"
                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                   ng-model="excelFile">

            <!--            <a data-toggle="modal"-->
            <!--               title="Nuevo"-->
            <!--               data-target="#newAccount"-->
            <!--               data-ng-click="prepareNewAccount()"-->
            <!--               class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i>-->
            <!--                Nuevo-->
            <!--            </a>-->
        </div>
    </header>
    <div class="main-box-body">
        <div class="col-lg-12">
            <table datatable="ng" class="table table-striped">
                <thead>
                <tr>
                    <th class="col-xs-1">Código</th>
                    <th class="col-xs-1">Foto</th>
                    <th class="col-xs-1">Contenedor</th>
                    <th class="col-xs-1">Talla</th>
                    <th class="col-xs-1">Par</th>
                    <th class="col-xs-1">Docena</th>
                    <th class="col-xs-1">Precio</th>
                    <th class="col-xs-1">Total</th>
                    <th class="col-xs-1">Stock/Par</th>
                    <th class="col-xs-1">Stock/Docena</th>
                    <th class="col-xs-1">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="shoe in shoes">
                    <td>{{shoe.code}}</td>
                    <td>
                        <img style="height:55px; width:104px;"
                             data-ng-src="{{shoe.photo?shoe.photo:'images/'+shoe.code+'-'+shoe.container+'.png'}}"
                             alt="{{shoe.code}}"/>
                    </td>
                    <td>{{shoe.container}}</td>
                    <td>{{shoe.size}}</td>
                    <td>{{shoe.par}}</td>
                    <td>{{shoe.dozen}}</td>
                    <td>{{shoe.price}}</td>
                    <td>{{shoe.total}}</td>
                    <td>{{shoe.stockPar}}</td>
                    <td>{{shoe.stockDozen}}</td>
                    <td>
                        <a data-toggle="modal"
                           title="Editar"
                           data-target="#shoeEditModal"
                           data-ng-click="selectShoe(shoe)"
                           class="table-link warning">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a data-toggle="modal"
                           title="Anular Venta"
                           data-target="#cancelShoeModal"
                           data-ng-click="selectShoe(shoe)"
                           class="table-link danger">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-ban fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'app/shoe/modal/shoe-modal.html'"></div>