<!-- Modal Change Password -->
<div class="modal fade"
     data-backdrop="static"
     data-keyboard="false"
     id="modalCustomer"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modalCustomer"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{customer.id?'Editar Cliente':'Crear Cliente'}}</h4>
            </div>
            <form role="form" name="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="customer-full-name"><b>Nombre Completo</b></label>
                        <input type="text"
                               class="form-control"
                               id="customer-full-name"
                               ng-model="customer.fullName"
                               name="customer-full-name"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="customer-phone-number"><b>Nro. Celular:</b></label>
                        <input type="text"
                               class="form-control"
                               id="customer-phone-number"
                               ng-model="customer.phoneNumber"
                               name="customer-phone-number"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="customer-address"><b>Dirección:</b></label>
                        <input type="text"
                               class="form-control"
                               id="customer-address"
                               name="customer-address"
                               ng-model="customer.address"
                               required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn-sm btn btn-default"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button"
                            class="btn-sm btn btn-success"
                            data-dismiss="modal"
                            ng-hide="customer.id"
                            data-ng-click="addCustomer()">
                        Guardar
                    </button>
                    <button type="button"
                            class="btn-sm btn btn-success"
                            data-dismiss="modal"
                            ng-show="customer.id"
                            data-ng-click="updateCustomer()">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Remove Customer-->
<div class="modal fade"
     data-backdrop="static"
     data-keyboard="false"
     id="removeCustomerModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="removeCustomerModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar Cliente</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <span>Esta seguro que quiere eliminar al cliente <b>{{customer.fullName}}?</b></span><br/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button title="Cancelar"
                        class="btn-sm btn btn-default"
                        data-dismiss="modal">
                    Cancelar
                </button>
                <button title="Eliminar"
                        data-dismiss="modal"
                        data-ng-click="removeCustomer()"
                        class="btn-sm btn btn-danger">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>