<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h1 class="pull-left">
            Lista de Tallas de Zapatillas
        </h1>
        <div class="filter-block pull-right">
            <a data-toggle="modal"
               title="{{'account.management.new.account.title' | translate}}"
               data-target="#shoeSizeModal"
               data-ng-click="prepareNewAccount()"
               class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i>
                Nuevo
            </a>
        </div>
    </header>
    <div class="main-box-body">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-xs-1">Id</th>
                    <th class="col-xs-1">Talla</th>
                    <th class="col-xs-1">Visible</th>
                    <th class="col-xs-1">Estado</th>
                    <th class="col-xs-1">Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="shoeSize in shoeSizes">
                    <td>{{shoeSize.id}}</td>
                    <td>{{shoeSize.sizeRange}}</td>
                    <td>{{shoeSize.isVisible?'Si':'No'}}</td>
                    <td>{{shoeSize.status=='ENABLED'?'HABILITADO':'ANULADO'}}</td>
                    <td>
                        <a data-toggle="modal"
                           title="Editar"
                           data-target="#shoeSizeModal"
                           data-ng-click="selectShoe(shoe)"
                           class="table-link warning">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a data-toggle="modal"
                           title="Eliminar"
                           data-target="#cancelShoeSizeModal"
                           data-ng-click="selectShoeSize(shoeSize)"
                           ng-show="shoeSize.status=='ENABLED'"
                           class="table-link danger">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-ban fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'app/shoe-size/modal/shoe-size-modal.html'"></div>