<!-- Modal Add & Edit Size -->
<div class="modal fade"
     data-backdrop="static"
     data-keyboard="false"
     id="shoeSizeModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="shoeSizeModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{shoeSize.id?'Editar Talla':'Crear Talla'}}</h4>
            </div>
            <form role="form" name="form">
                <div class="row">
                    <div class="modal-body">

                        <div class="col-lg-6 form-group">
                            <label for="container-code"><b>Rango de Talla</b></label>
                            <input type="text"
                                   class="form-control"
                                   id="container-code"
                                   placeholder="Ej: 36-40"
                                   ng-model="shoeSize.sizeRange"
                                   name="size-range"
                                   required>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label for="isVisible"><b>Es Visible</b></label>
                            <br>
                            <input id="isVisible"
                                   type="checkbox"
                                   ng-model="shoeSize.isVisible"
                                   data-toggle="toggle">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn-sm btn btn-default"
                            data-ng-click="cancelShoeSizeModal()"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button"
                            class="btn-sm btn btn-success"
                            data-dismiss="modal"
                            ng-hide="shoeSize.id"
                            data-ng-click="addShoeSize()">
                        Guardar
                    </button>
                    <button type="button"
                            class="btn-sm btn btn-success"
                            data-dismiss="modal"
                            ng-show="shoeSize.id"
                            data-ng-click="updateShoeSize()">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Cancel Sale -->
<div class="modal fade"
     data-backdrop="static"
     data-keyboard="false"
     id="cancelShoeSizeModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="cancelShoeSizeModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Anular Talla</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <span>Esta seguro que quiere anular la talla <strong>{{shoeSize.sizeRange}}</strong> ?</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button title="Cancelar"
                        class="btn-sm btn btn-default"
                        data-ng-click="cancelShoeSizeModal()"
                        data-dismiss="modal">
                    Cancelar
                </button>
                <button title="Eliminar"
                        data-dismiss="modal"
                        data-ng-click="deleteShoeSize()"
                        class="btn-sm btn btn-danger">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>