<!-- Modal Add & Edit Size -->
<div class="modal fade"
     data-backdrop="static"
     data-keyboard="false"
     id="shoeEditModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="shoeEditModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{shoe.id?'Editar Zapatilla':'Crear Zapatilla'}}</h4>
            </div>
            <form role="form" name="form">
                <div class="row">
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <div class="col-lg-4 form-group">
                                <label for="shoe-code"><b>Código</b></label>
                                <input type="text"
                                       class="form-control"
                                       id="shoe-code"
                                       ng-model="shoe.code"
                                       placeholder="Ej. 40-45"
                                       name="size-range"
                                       required>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label for="container"><b>Contenedor</b></label>
                                <select class="form-control"
                                        id="container"
                                        ng-model="shoe.container"
                                        ng-options="container.code as container.code for container in containers">
                                    <option value="" disabled>Contenedor</option>
                                </select>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label for="size-range"><b>Talla</b></label>
                                <select class="form-control"
                                        id="size-range"
                                        ng-model="shoe.size"
                                        ng-change="onChangeShoeSize()"
                                        ng-options="shoeSize.sizeRange as shoeSize.sizeRange for shoeSize in shoeSizes">
                                    <option value="" disabled>Talla</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-4 form-group">
                                <label for="par"><b>Par</b></label>
                                <input type="number"
                                       id="par"
                                       class="form-control"
                                       data-ng-disabled="!shoe.id"
                                       ng-change="onChangePar()"
                                       ng-model="shoe.par"/>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label for="dozen"><b>Docena</b></label>
                                <input type="text"
                                       id="dozen"
                                       class="form-control"
                                       ng-change="onChangeDozen()"
                                       data-ng-disabled="!shoe.id"
                                       ng-model="shoe.dozen"/>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label for="price"><b>Precio</b></label>
                                <input type="text"
                                       id="price"
                                       class="form-control"
                                       data-ng-disabled="!shoe.id"
                                       ng-change="onChangePrice()"
                                       ng-model="shoe.price"/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-4 form-group">
                                <label for="total"><b>Total: </b></label><br>
                                <input type="text"
                                       id="total"
                                       class="form-control"
                                       data-ng-disabled="true"
                                       ng-model="shoe.total"/>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label for="stock"><b>Stock Par</b></label>
                                <input type="text"
                                       id="stock"
                                       class="form-control"
                                       data-ng-disabled="!shoe.id"
                                       ng-change="onChangeStock()"
                                       ng-model="shoe.stockPar"/>
                            </div>
                            <div class="col-lg-4 form-group">
                                <img style="height:55px; width:104px;"
                                     data-ng-src="{{shoe.photo?shoe.photo:'images/'+shoe.code+'-'+shoe.container+'.png'}}"
                                     alt="{{shoe.code}}"/>
                                <input type="file"
                                       id="image"
                                       name="image"
                                       accept="image/*"
                                       ng-model="shoe.photo">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn-sm btn btn-default"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button"
                            class="btn-sm btn btn-success"
                            data-dismiss="modal"
                            ng-hide="shoe.id"
                            data-ng-click="addShoe()">
                        Guardar
                    </button>
                    <button type="button"
                            class="btn-sm btn btn-success"
                            data-dismiss="modal"
                            ng-show="shoe.id"
                            data-ng-click="updateShoe()">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Cancel Shoe -->
<div class="modal fade"
     data-backdrop="static"
     data-keyboard="false"
     id="cancelShoeModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="cancelShoeModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Anular Talla</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <span>Esta seguro que quiere anular la Zapatilla de
                            <strong>Código: </strong> {{shoe.code}},
                            <strong>Contenedor: </strong> {{shoe.container}} y
                            <strong>Talla: </strong> {{shoe.size}} ?
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button title="Cancelar"
                        class="btn-sm btn btn-default"
                        data-ng-click="cancelShoeModal()"
                        data-dismiss="modal">
                    Cancelar
                </button>
                <button title="Eliminar"
                        data-dismiss="modal"
                        data-ng-click="deleteShoe()"
                        class="btn-sm btn btn-danger">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>