<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h1 class="pull-left">Editar Venta</h1>
    </header>
    <div class="main-box-body clearfix">
        <div class="col-lg-12">
            <h4>Cliente: {{sale.customer.fullName}}
                <a title="Editar"
                   class="table-link"
                   ng-hide="isGoingToEditCustomer"
                   data-ng-click="enableEditCustomer()"> Editar</a>
            </h4>

            <select style="width:30%"
                    class="sel2"
                    ng-show="isGoingToEditCustomer"
                    ng-model="sale.customer"
                    ng-change="onChangeCustomer()"
                    ng-options="customer as customer.fullName for customer in customers">
                <option value="" disabled>Seleccione un Cliente</option>
            </select>
        </div>
        <div class="pull-right" ng-show="shoe.id">
            <img style="height:55px; width:104px;"
                 data-ng-src="{{shoe.photo?shoe.photo:'images/'+shoe.code+'-'+shoe.container+'.png'}}"
                 alt="{{shoe.code}}"/>
        </div>
        <div class="col-lg-12">
            <hr>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th class="col-xs-1">Código</th>
                        <th class="col-xs-1">Contenedor</th>
                        <th class="col-xs-1">Tallas</th>
                        <th class="col-xs-1">Cant. Par</th>
                        <th class="col-xs-1">Cant. Docena</th>
                        <th class="col-xs-1">Precio</th>
                        <th class="col-xs-1">Total</th>
                        <th class="col-xs-1">Stock Par</th>
                        <th class="col-xs-1">Stock Docena</th>
                        <th class="col-xs-1">Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="text"
                                   id="shoeCode"
                                   class="form-control"
                                   ng-model="shoe.code"
                                   ng-change="onChangeCode(shoe.code)"/>
                        </td>
                        <td>
                            <select class="form-control"
                                    ng-model="shoe.container"
                                    data-ng-disabled="!shoe.container"
                                    ng-change="onChangeContainer()"
                                    ng-options="container for container in containers">
                                <option value="" disabled>Contenedor</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control"
                                    ng-model="shoe.size"
                                    data-ng-disabled="!shoe.size"
                                    ng-change="onChangeSize()"
                                    ng-options="size for size in sizes">
                                <option value="" disabled>Talla</option>
                            </select>
                        </td>
                        <td>
                            <input type="number"
                                   class="form-control"
                                   data-ng-disabled="!shoe.id"
                                   data-ng-keydown="$event.keyCode === 13 && addItem(item)"
                                   ng-change="onChangePar()"
                                   ng-model="shoe.par"/>
                        </td>
                        <td>
                            <input type="text"
                                   class="form-control"
                                   ng-change="onChangeDozen()"
                                   data-ng-keydown="$event.keyCode === 13 && addItem(item)"
                                   data-ng-disabled="!shoe.id"
                                   ng-model="shoe.dozen"/>
                        </td>
                        <td>
                            <input type="text"
                                   class="form-control"
                                   data-ng-disabled="!shoe.id"
                                   data-ng-keydown="$event.keyCode === 13 && addItem(item)"
                                   ng-change="onChangePrice()"
                                   ng-model="shoe.price"/>
                        </td>
                        <td>
                            <label>{{shoe.total}}</label>
                        </td>
                        <td>
                            <label>{{shoe.stockPar}}</label>
                        </td>
                        <td>
                            <label>{{shoe.stockDozen}}</label>
                        </td>
                        <td>
                            <a data-toggle="modal"
                               title="Agregar"
                               ng-show="shoe.id"
                               data-ng-click="addItem(item)"
                               class="table-link success">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-12" ng-show="items.length>0">
            <h4>Detalle:</h4>
            <table class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th class="col-xs-1">#</th>
                    <th class="col-xs-1">Código</th>
                    <th class="col-xs-1">Foto</th>
                    <th class="col-xs-1">Contenedor</th>
                    <th class="col-xs-1">Talla</th>
                    <th class="col-xs-1">Par</th>
                    <th class="col-xs-1">Docena/Cajas</th>
                    <th class="col-xs-1">P/U</th>
                    <th class="col-xs-1">Total</th>
                    <th class="col-xs-1">Acción</th>
                </tr>
                </thead>
                <tbody ng-repeat="item in items | orderBy:'index':true">
                <tr>
                    <td>
                        <label>{{$index +1}}</label>
                    </td>
                    <td>
                        <label>{{item.code}}</label>
                    </td>
                    <td>
                        <img style="height:50px; width:104px;"
                             data-ng-src="{{item.photo?
                             item.photo:
                             'images/'+item.code+'-'+item.container+'.png'}}"
                             alt="{{item.code}}"/>
                    </td>
                    <td>
                        <label>{{item.container}}</label>
                    </td>
                    <td>
                        <label>{{item.size}}</label>
                    </td>
                    <td>
                        <label>{{item.par}}</label>
                    </td>
                    <td>
                        <label>{{item.dozen}}</label>
                    </td>
                    <td>
                        <label>{{item.price}}</label>
                    </td>
                    <td>
                        <label>{{item.total}}</label>
                    </td>
                    <td>
                        <a data-toggle="modal"
                           title="{{'account.management.remove.account.title'|translate}}"
                           data-target="#deleteItemModal"
                           data-ng-click="removeItem(item)"
                           class="table-link danger">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-minus fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <h3><b>Total: {{sale.total | currency: 'Bs.'}}</b></h3>
            <div class="form-group">
                <button class="btn btn-primary"
                        name="Pay"
                        data-ng-click="updateSale()">
                    Actualizar
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function ($) {
        $('.sel2').select2();
    });
</script>