    <!-- Modal Cancel Sale -->
    <div class="modal fade"
         data-backdrop="static"
         data-keyboard="false"
         id="cancelSaleModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="cancelSaleModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Anular Venta</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <span>Esta seguro que quiere anular la venta <strong>{{sale.id}}</strong> ?</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button title="Cancelar"
                            class="btn-sm btn btn-default"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                    <button title="Eliminar"
                            data-dismiss="modal"
                            data-ng-click="cancelSale()"
                            class="btn-sm btn btn-danger">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>