<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h1 class="pull-left">
            Lista de Clientes
        </h1>
        <div class="filter-block pull-right">
            <div class="form-group pull-left">
                <input type="text"
                       ng-model="searchText"
                       class="form-control"
                       placeholder="{{'searchPlaceholder' | translate}}">
                <i class="fa fa-search search-icon"></i>
            </div>
            <a data-toggle="modal"
               title="{{'account.management.new.account.title' | translate}}"
               data-target="#modalCustomer"
               class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i>
                Nuevo Cliente
            </a>
        </div>
    </header>
    <div class="main-box-body clearfix">
        <div class="col-lg-12">
            <table id="table-customer" class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>TELÉFONO</th>
                    <th>DIRECCIÓN</th>
                    <th></th>
                </tr>
                </thead>
                <tbody ng-repeat="customer in customers| filter:searchText">
                <tr>
                    <td>{{customer.id}}</td>
                    <td>{{customer.fullName}}</td>
                    <td>{{customer.phoneNumber}}</td>
                    <td>{{customer.address}}</td>
                    <td>
                        <a data-toggle="modal"
                           name="edit-account"
                           title="Editar Cliente"
                           data-target="#modalCustomer"
                           data-ng-click="editCustomer(customer)"
                           class="table-link">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                        <a data-toggle="modal"
                           title="Eliminar Cliente"
                           data-target="#removeCustomerModal"
                           data-ng-click="editCustomer(customer)"
                           class="table-link danger">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div ng-include="'app/customer/modal/customer-modal.html'"></div>