<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <!--        <h1 class="pull-left">TODO SPORT</h1>-->
        <div class="pull-right">
        </div>
    </header>
    <div class="main-box-body clearfix">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <h4>Nro de Venta: {{sale.id}}</h4>
            </div>
            <div class="col-lg-4">
                <h4>Fecha: {{sale.date | date:'dd/MM/yyyy'}}</h4>
            </div>
            <div class="col-lg-4">
                <h4>Hora:{{sale.date | date:'HH:MM'}}</h4>
            </div>
        </div>

        <div class="col-lg-12">
            <hr>
            <div class="col-lg-4">
                <h4>Cliente: {{sale.customer.fullName}}</h4>
            </div>
        </div>
        <div class="col-lg-12">
            <hr>
            <table class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th class="col-xs-1">Nro.</th>
                    <th class="col-xs-1">Código</th>
                    <th class="col-xs-1">Contenedor</th>
                    <th class="col-xs-1">Talla</th>
                    <th class="col-xs-1">Par</th>
                    <th class="col-xs-1">Docena</th>
                    <th class="col-xs-1">P/U</th>
                    <th class="col-xs-1">Total</th>
                </tr>
                </thead>
                <tbody ng-repeat="item in items">
                <tr>
                    <td>
                        <label>{{$index +1}}</label>
                    </td>
                    <td>
                        <label>{{item.shoe.code}}</label>
                    </td>
                    <td>
                        <label>{{item.shoe.container}}</label>
                    </td>
                    <td>
                        <label>{{item.shoeSize}}</label>
                    </td>
                    <td>
                        <label>{{item.par}}</label>
                    </td>
                    <td>
                        <label>{{item.dozen}}</label>
                    </td>
                    <td>
                        <label>{{item.price}}</label>
                    </td>
                    <td>
                        <label>{{item.price * item.par | currency: 'Bs.'}}</label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-offset-9">
            <h3><b>Total: {{total | currency: 'Bs.'}}</b></h3>
        </div>
    </div>
</div>

